/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

}


html{

scroll-behavior:smooth;

}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:#f8fafc;
}

/* HEADER */

header{

position:sticky;

top:0;

width: 100%;

z-index:1000;

background:rgba(15,23,42,0.8);

backdrop-filter:blur(15px);

border-bottom:

1px solid rgba(255,255,255,0.08);

}

nav{
    width:min(92%,1280px);
    height:72px;
    margin:0 auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{

display:flex;

align-items:center;

gap:12px;

font-size:24px;

font-weight:700;

color:#38bdf8;

cursor:pointer;

}


.logo i{

font-size:28px;

animation: glow 2s ease-in-out infinite alternate;

}


.logo span{

background:linear-gradient(
90deg,
#38bdf8,
#60a5fa
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}



.nav-links{

display:flex;

gap:32px;

list-style:none;

}

.nav-links a{

display:flex;

align-items:center;

gap:8px;

text-decoration:none;

color:white;

font-weight:500;

transition:0.3s;

}


.nav-links a:hover{

color:#38bdf8;

transform:translateY(-2px);

}


.nav-links i{

font-size:18px;

}

.nav-links a:hover{

color:#38bdf8;

}



/* HERO */

.hero{

min-height:82vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

text-align:center;

padding:30px 20px;

}



.hero img{

width:170px;

height:170px;

border-radius:50%;

object-fit:cover;

border:4px solid #38bdf8;

box-shadow:

0 0 25px #38bdf8;

}

.hero h1{
    font-size:3.5rem;
    font-weight:700;
    line-height:1.1;
    margin-top:18px;

    background:linear-gradient(
        90deg,
        #38bdf8,
        #8b5cf6
    );

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.hero h2{
font-size:1.9rem;

margin-top: 10px;

color:#38bdf8;

}

.hero p{

max-width:650px;

font-size:1.05rem;

line-height:1.8;

margin-top:20px;

color:#94a3b8;

}

/* BUTTONS */
.buttons{

display:flex;

gap:16px;

margin-top:35px;

}

.btn{

padding:13px 26px;

border-radius:10px;

text-decoration:none;

font-weight:600;

transition:0.3s;

display:flex;

align-items:center;

justify-content:center;

gap:8px;

white-space: nowrap;

}


.primary{

background:#38bdf8;

color:#0f172a;

}

.primary:hover{

transform:translateY(-5px);

}


.secondary{

border:2px solid #38bdf8;

color:#38bdf8;

}



.secondary:hover{

background:#38bdf8;

color:#0f172a;

}




/* SECTION */

section{
    width:min(92%,1280px);
    margin:0 auto;
    padding:45px 0;
}



.section-title{
    text-align:center;
    font-size:3rem;
    font-weight:700;
    color:#38bdf8;
    margin-bottom:35px;
}



/* CARD */

.card{
    background:#1e293b;
    border-radius:18px;
    padding:24px;
    border:1px solid rgba(56,189,248,.12);
    transition:.3s ease;
}
.card:hover{
    transform:translateY(-8px);
    border-color:#38bdf8;
    box-shadow:0 10px 25px rgba(56,189,248,.18);
}

.card h2{

    color:#38bdf8;

    font-size:1.5rem;

    margin-bottom:10px;
}

.card p{
    color:#cbd5e1;
    line-height:1.75;
    margin:12px 0;
}




/* PROJECT GRID */

.projects{

display:grid;

grid-template-columns:

repeat(auto-fit,minmax(300px,1fr));

gap:25px;

}


/* PROJECT IMAGE */

.project-img{
    height:220px;

    border-radius:16px;

    display:flex;
    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:20px;

    margin-bottom:22px;
}
/* BOOKNEST */

.booknest-bg{

background:

linear-gradient(

135deg,

#2563eb,

#06b6d4

);

}



/* DBANK */

.dbank-bg{

background:

linear-gradient(

135deg,

#7c3aed,

#9333ea

);

}



/* TRAVEL */

.travel-bg{

background:

linear-gradient(

135deg,

#059669,

#10b981

);

}



/* RAIN */

.rain-bg{

background:

linear-gradient(

135deg,

#0ea5e9,

#3b82f6

);

}



/* PROJECT ICON */

.project-icon{

font-size:48px;

margin-bottom:14px;

}



/* PROJECT TITLE */
.project-img h3{
    font-size:1.7rem;
    font-weight:700;

    margin-bottom:8px;
}


/* PROJECT SUBTITLE */

.project-img p{
    font-size:.95rem;

    opacity:.9;

    margin:0;
}

/* TAGS */

.tags{
    margin-top:auto;

    padding-top:20px;

    border-top:1px solid rgba(56,189,248,0.15);

    display:flex;
    flex-wrap:wrap;
    gap:12px;
}

.tags span{

    background:#0f172a;

    color:#38bdf8;

    border:1px solid rgba(56,189,248,.25);

    padding:8px 14px;

    border-radius:30px;

    font-size:.85rem;

    transition:.25s;
}

.tags span:hover{

transform:translateY(-2px);

background:#38bdf8;

color:#0f172a;

}


/* PROJECT BUTTONS */




/* FEATURED CERTIFICATE */

.featured-cert{
    text-align:center;
    padding:35px 40px;
    height: auto;
}


.featured-cert h2{
    font-size:2.2rem;
    line-height:1.3;
    margin-bottom:25px;
}
.featured-cert h3{
    margin-top:25px;
    margin-bottom:18px;
}



.featured-cert p{
    margin:18px 0;
    font-size:1.15rem;
    color:#cbd5e1;
}



.featured-cert .btn{

margin-top:25px;

margin-top: 20px;

display:inline-block;

}




/* CONTACT */

.contact-img{

width:170px;

height:170px;

border-radius:50%;

object-fit:cover;

border:4px solid #38bdf8;

margin-bottom:20px;

}


form{

display:flex;

flex-direction:column;

gap:20px;

}



input,

textarea{

padding:15px;

border:none;

outline:none;

border-radius:12px;

background:#0f172a;

color:white;

font-size:16px;

}



textarea{

resize:none;

}




/* MOBILE */

@media(max-width:768px){

.hero h1{

font-size:clamp(36px,8vw,55px);

line-height:1.1;

margin-top:25px;

background:

linear-gradient(

90deg,

#38bdf8,

#8b5cf6

);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.nav-links{

display:none;

}


.buttons{

flex-direction:column;

}


section{

width:92%;

}


.section-title{

font-size:32px;

}

}

footer{

width:100%;

padding:25px 0;

text-align:center;

color:#94a3b8;

font-size:16px;

margin-top:50px;

}

.project-card{
    background:#1b2740;
    border-radius:18px;
    padding:24px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    min-height:240px;

    border:1px solid rgba(56,189,248,.15);

    transition:.35s ease;

    overflow:hidden;
}
.project-content{

display:flex;

flex: 1;

flex-direction:column;

gap:20px;

}

.project-buttons{


display:flex;

justify-content:center;

gap:15px;

margin-top: 30px;

width: 100%;

}

.project-buttons .btn{
    flex:1;
    min-width:0;
    height:52px;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:10px;
    white-space:nowrap;

    font-size:.95rem;

    font-weight:600;

    border-radius:10px;
}


.cert-card{
    min-height:430px;
    display:flex;
    flex-direction:column;
}

.cert-card h2{
    min-height:100px;
    color:#38bdf8;
}

.cert-card p{
    flex-grow:1;
    margin-top:20px;
    color:#cbd5e1;
    line-height:1.8;
}

.cert-card .btn{
    margin-top:25px;
}
.skill-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-top:20px;
}

.skill-tags span{

    background:#0f172a;

    color:#38bdf8;

    border:1px solid rgba(56,189,248,.25);

    padding:10px 16px;

    border-radius:30px;

    font-size:.9rem;

    font-weight:500;

    transition:.3s;
}

.skill-tags span:hover{

    background:#38bdf8;

    color:#0f172a;

    transform:translateY(-3px);

    cursor:pointer;
}
